body{
margin:0;
background:black;
overflow:hidden;
}


.arena{

height:70vh;

background:
url("assets/background.jpg");

background-size:cover;

display:flex;

justify-content:space-around;

align-items:center;

}


.arena img{

width:220px;

}


#playerImage{

transform:scaleX(-1);

}


#damage{

position:absolute;

font-size:50px;

color:red;

font-weight:bold;

}


.cards{

position:absolute;

bottom:20px;

width:100%;

display:flex;

justify-content:center;

}


.cards button{

width:80px;

height:80px;

border-radius:50%;

font-size:30px;

background:#222;

color:white;

border:3px solid orange;

}
